<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/photo perfil.jpg" 
        class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>Cristian Javier Ibañez</p>
        <p>Full stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Sint fugiat voluptates in numquam repudiandae neque inventore culpa, 
                pariatur error tempora ducimus aut alias accusamus nesciunt.
                 Nam quisquam dolor nobis autem?
            </p>
        </span>
    </div>
</div>
